aiogram==3.22.0
APScheduler==3.11.1
beautifulsoup4==4.14.3
fastapi==0.136.1
feedparser==6.0.12
httpx==0.28.1
python-dotenv==1.2.1
python-multipart==0.0.20
PyYAML==6.0.3
uvicorn[standard]==0.38.0
telethon==1.42.0
qrcode[pil]==8.2
